@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

    ::selection {
        color: #F5F5F5;
        background-color: #48CFCB;
    }
}

:root {
    --background-white: #F5F5F5;
    --light-grey: #E0E0E0;
    --grey: #9e9e9e;
    --black-text: #424242;
    --blue: #48CFCB;
    --dark-blue: #229799;
    --red: #E53935;
}

body {
    background: var(--background-white);
    height: 100svh;
    width: 100svw;
    overflow: scroll;
    scroll-behavior: smooth;
}

header {
    display: flex;
    align-items: center;
    width: 100%;
}

.group-n-variant {
    display: flex;
    flex-direction: column;
    place-items: flex-end;
    padding: 2%;
    margin-left: auto;
    font-size: 1.5em;
    color: var(--grey);
    font-weight: bold;
}

.name {
    color: var(--grey);
    font-size: 3.5em;
    font-weight: bold;
    padding: 2%;
    transition: all .5s ease-in-out;
}

main {
    display: flex;
    place-content: center;
    height: auto;
    width: auto;
}

.square {
    height: 400px;
    width: 400px;
    transform: rotate(45deg);
    position: absolute;
    top: 35%;
    left: 0;
    border: 40px solid var(--light-grey);
    border-radius: 10%;
    z-index: -1;
    overflow: hidden;
    transition: all .8s ease-in-out;
}

.circle {
    height: 400px;
    width: 400px;
    position: absolute;
    top: -5%;
    right: 5%;
    border: 50px solid var(--light-grey);
    border-radius: 50%;
    z-index: -1;
    transition: all .8s ease-in-out;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}

.form > div:not(.x) {
    margin: 4%;
}

.x-text {
    padding: 1%;
}

.x > label {
    cursor: pointer;
}

.sendDataButton {
    padding: 2%;
    background-color: var(--blue);
    color: var(--background-white);
    margin-top: 4%;
    border-radius: 20px;
    border: 2px solid var(--light-grey);
    transition: all .2s ease-in-out;
}

.sendDataButton:hover {
    background-color: var(--dark-blue);
    color: var(--background-white);
    border-radius: 30px;
    outline: none;
    cursor: pointer;
}

.main-info {
    display: flex;
    flex-direction: column;
    place-content: center;
}

.inputs {
    background-color: var(--background-white);
    display: flex;
    flex-direction: column;
    place-content: center;
    border: 2px var(--dark-blue) solid;
    border-radius: 30px;
    height: 300px;
    width: 300px;
    padding: 1%;
    margin-top: 5%;

}

label.text {
    position: absolute;
    pointer-events: none;
    transform: translateY(70%);
    color: var(--grey);
    font-size: 1em;
    transition: all .3s ease;
}

.y-container, .r-container {
    position: relative;
    width: 100%;
    display: flex;
    place-content: space-evenly;
}

input[type="radio"] {
    margin-bottom: 1%;
    appearance: none;
    width: 10px;
    height: 10px;
}

input[type="radio"]:hover, input[type="radio"]:checked, input[type="radio"]:focus {
    background-color: transparent;
    border: none;
}

input[type="radio"]::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transition: all .2s ease-in-out;
    background-color: var(--background-white);
    border: 1px solid var(--grey);
}

input[type="radio"]:hover::before {
    background-color: var(--background-white);
    filter: drop-shadow(0 0 2px var(--blue));
}

input[type="radio"]:checked::before {
    background-color: var(--background-white);
    border: 2px solid var(--blue);

}

input:not([type="radio"]) {
    padding: 3% 10%;
    margin-top: 2%;
    border-radius: 20px;
    border: 2px solid var(--light-grey);
}

input:focus ~ label.text,
input:valid ~ label.text {
    font-size: .8em;
    color: var(--black-text);
    transform: translateY(-4px);
    background-color: var(--background-white);
}

input {
    background-color: var(--background-white);
}

input.wrong {
    border: 2px solid var(--red);
    background-color: rgba(var(--red), 0.8);
    cursor: pointer;
}

input:hover {
    border: 2px solid var(--blue);
    border-radius: 30px;
    outline: none;
    cursor: pointer;
}

input:focus {
    border: 2px solid var(--blue);
    border-radius: 30px;
    outline: none;
}

canvas {
    width: 300px;
    height: 300px;
    border-radius: 30px;
    border: 2px solid var(--dark-blue);
    background-color: var(--background-white);
}

.table {
    display: flex;
    flex-direction: column;
    border: 2px var(--dark-blue) solid;
    border-radius: 30px;
    margin: 0 0 0 5%;
    border-collapse: collapse;
    overflow: scroll;
    max-height: 630px;
    height: fit-content;
    transition: all .3s ease-in-out;
}

.table-head {
    width: 500px;
    height: 50px;
}

.item {
    width: 100px;
    height: 50px;
    padding: 1%;
    display: table-cell;
    text-align: center;
}

.row{
    width: 500px;
    border-top: 2px solid var(--dark-blue);
}

th:nth-child(-n+3), td:nth-child(-n+3) {
    width: 50px;
}


th:nth-last-child(-n+2), td:nth-last-child(-n+2) {
    width: 125px;
}

.item:not(:last-child) {
    border-right: 2px solid var(--dark-blue);
}


@media only screen and (max-width: 85em) {
    header {
        .name {
            font-size: 2em;
        }
    }
}

@media only screen and (max-width: 55em) {
    .square {
        transform: rotate(225deg);
        width: 150px;
        height: 150px;
        top: 5%;
        left: 65%;
        border: 15px solid var(--light-grey);
    }

    .circle {
        transform: rotate(360deg);
        width: 150px;
        height: 150px;
        top: 30%;
        left: 5%;
        border: 15px solid var(--light-grey);

    }

    header {
        .name {
            font-size: 1.5em;
        }
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;

        .inputs {
            padding: 4%;
            margin-top: 5%;
        }
    }

    .item {
        font-size: 0.8em;
        width: 60px;
    }

    .table{
        margin: 3% 0 0 0;

    }

    .table-head{
        width: 400px;
    }

    .row{
        width: 400px;
    }

    th:nth-child(-n+3), td:nth-child(-n+3) {
        width: 40px;
    }

    th:nth-last-child(-n+2), td:nth-last-child(-n+2) {
        width: 110px;
    }
}